html {
    font-size: 10px;
    /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif;
    /* this should be the rest of the output you got from Google Fonts */
    background-color: #ff95009c;
}

head {
    color: bisque;
    border: 26 px solid black;
    font: bold;
    backgound-color: black;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: black;
    font-style: oblique;
}

p,
li {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1px;
}

blockquote {
    margin: 0;
}

blockquote p {
    font-size: 16px;
    padding: 15px;
    background: rgba(238, 238, 238, 0.375);
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

body {
    width: 800px;
    margin: 40px auto;
    background-color: #ff9500;
    border: 1px solid white;
}


/*about division
*/

.inner,
.head {
    padding: 40px 40px 120px 40px;
}

img {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: auto;
    align: center;
}

#smart-title {
    font-size: 90px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
}

#smart-title:hover {
    color: darkseagreen;
}

.poem {
    font-size: 16px;
    font-family: Helvetica;
    aligh: center;
}

.poem.male {
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bolder;
    text-align: left;
    color: azure;
    width: 500px;
    margin: 40px auto 40px 0;
    background-color: rgba(0, 0, 0, 0.405);
    padding: 40px 90px 100px 40px;
    border-radius: 12px;
}

.poem.female {
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bolder;
    text-align: right;
    align: right;
    width: 500px;
    margin: 40px 0 40px auto;
    background-color: rgba(255, 255, 255, 0.631);
    padding: 40px 30px 100px 40px;
    border: 1px solid white;
    border-radius: 12px;
}

#switch {}

#banner {
    display: block;
    margin: 40px 0 40px auto;
}